.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.newproduct{
  width: 90%;
  display: grid;
  margin:50px auto;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.skincare{
  width: 90%;
  display: grid;
  margin:50px auto;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.tool{
  width: 90%;
  display: grid;
  margin:50px auto;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.moisture
{
  width: 90%;
  display: grid;
  margin:50px auto;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.haircare
{
  width: 90%;
  display: grid;
  margin:50px auto;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.makeup
{
  width: 90%;
  display: grid;
  margin:50px auto;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.fragrance
{
  width: 90%;
  display: grid;
  margin:50px auto;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
}
.search
{
  width: 90%;
  display: grid;
  margin:50px auto;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
} #cont{
  display: grid;
  width: 500px;
  height: 500px;
border: 1px solid gray;
  margin-left: 120px;
  flex-wrap: wrap;
  margin: auto;
  padding: 50px;
  }
#cont>input{

border: transparent;
border: 1px solid black;
width: 400px;
height: 30px;
margin-right: 20px;
}
#name{border: transparent;
border: 1px solid black;
width: 400px;
height: 30px;
margin-right: 20px;}
#cont>input:nth-child(4){
border: transparent;
border: 1px solid black;
width: 400px;
height: 30px;
margin-right: 20px;
}
#cont>input:nth-child(5){
border: transparent;
border: 1px solid black;
height: 30px;   

width: 400px;
}
#method{
  border: transparent;
  border: 1px solid black;
  height: 30px;   
  
  width: 400px;
  }
h2{
  margin-top: 150px;
  margin-left: 120px;
  height: 30px;
}

#month{
  width: 400px;
  height: 30px;

  margin-right: 20px;
   border: transparent;
   border: 1px solid black;
}
#year{
  width: 400px;
  margin-right: 20px;
  height: 30px;
     
        border: transparent;
        border: 1px solid black;
}
#main {
  width: 75%;
  margin: 70px auto;
  display: grid;
  grid-template-columns: repeat(2, 240px);
  grid-template-rows: 500px;
  gap: 200px;
  justify-self: center;
  align-items: center;
 
  
}

#button {
  width: 100%;
  color: aliceblue;
  background-color: black;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: extra-condensed;
  font-weight: 550;
  font-size: 12px;
}

button:hover {
  background-color: rgba(79, 79, 79, 0.9);
}

.input {
  width: 300px;
  margin-top: 20px;
  padding: 2px 0px;
  font-size: 10px;
  
  height: 40px;
  border: 1px solid black;
}

#p {
  margin: 10px 0px 25px;
  font-size: 15px;
}

#main>div:nth-child(1)>p {
  font-size: 13px;
}

#main>div:nth-child(2)>p {
  font-size: 12px;
  margin: 10px 0px 8px 0px;
}

#main>div:nth-child(2)>p+p {
  font-size: 12px;
  margin: 10px 0px 80px 0px;
}

#h2 {
  font-stretch: narrower;
  font-weight: 550;
  font-size: 18px;
  font-family: 'Helvetica-Neue', Helvetica, Arial, sans-serif;
}

#main>div:nth-child(2) {
  width: 380px;
}

#main>div:nth-child(2)>button {
  width: 250px;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: extra-condensed;
  font-weight: 550;
  font-size: 12px;
}
#create {
  width: 65%;
  margin-left: 7%;
  margin-top: 150px;
}
#inside {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  width: 100%;
  gap: 7%;
  align-items: center;
  
}
#top {
  display: flex;
  width: 35%;
  justify-content: space-between;
  font-size: 12px;
  font-weight: bold;
}
p > input {
  cursor: pointer;
}
#form {
  display: grid;
  gap: 20px;
}
h2 {
  margin-bottom: 5%;
}
.details input {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  margin-top: 15px;
  font-size: 12px;
  padding: 15px 0px 0px 0px;
  padding-bottom: 5px;
}